version: 2
jobs:
  build:
    docker:
      - image: node
    working_directory: ~/wd
    steps:
      - checkout
      - run:
          name: Trigger Jobs
          command: |
            function trigger_job() {
              curl \
                --user ${CIRCLE_API_TOKEN}: \
                --data build_parameters[CIRCLE_JOB]=$1 \
                --data revision=$CIRCLE_SHA1 \
                https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
            }
            trigger_job build-node4
            trigger_job build-node6
            trigger_job build-node8

  build-node-common: &common-build
    docker:
      - image: node
    working_directory: ~/wd
    steps:
      - run:
          name: Versions
          command: |
            npm version
      - checkout
      - restore_cache:
          keys:
            - v1-npm-{{ .Branch }}-{{ checksum "package.json" }}
            - v1-npm-master-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm test
      - save_cache:
          key: v1-npm-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules

  build-node4:
    <<: *common-build
    docker:
      - image: node:4

  build-node6:
    <<: *common-build
    docker:
      - image: node:6

  build-node8:
    <<: *common-build
    docker:
      - image: node:8
