body {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 34px;
  color: #4B352A;
  line-height: 49px;
}

::selection {
  background: #A0D3A4;
}
::-moz-selection {
  background: #A0D3A4;
}

.btn {
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

*:focus{
  outline: 0 none !important;
}

a {
  color: #469A4C;
  @include transition(all, .1s, ease-in-out);
  &:hover{
    color: darken(#469A4C, 10%);
    text-decoration-color: #DDD!important;
    @include transition(all, .1s, ease-in-out);
  }
}

// Base Styling
.content {
  h2 {
    text-align: center;
    font-size: 24px;
    color: #281D18;
    margin-bottom: 40px;
    position: relative;
    margin-top: 60px;

    &:first-child {
      margin-top: 0px;
    }
    &:before {
      content: "";
      width: 34px;
      height: 34px;
      display: block;
      margin: 20px auto;
      background: url($baseurl+"/assets/images/sword.png") no-repeat 50% 0;
      background-size: 100%;
    }
  }
  h3 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #281D18;
  }
  p {
    color: #4B382F;
  }
  pre {
    background: #18120F;
    padding: 18px;
    border: none;
    color: #fff;
    margin-top: 15px!important;
    margin-bottom: 30px!important;
  }
  blockquote {
    border: none;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
  }
  em {
    a {
      font-size: 16px;
      font-style: normal;
      margin-bottom: 30px;
      text-align: center;
      display: block;
    }
  }
}

.footer {
  background: #5F5954;
  color: #fff;
  padding: 36px 0px;
  a {
    color: #fff;
  }
  img {
    margin-bottom: 20px;
  }
  p {
    opacity: 0.7;
  }
}

// Navigation
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

// Responsive
@media only screen and (max-width : 768px) {
  .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  .navbar-brand {
    float: none;
  }
  .navbar-nav {
      width: 100%;
      text-align: center;
      li {
        float: none!important;
        display: inline-block;
      }
  }
  .home-header {
    padding: 20px 0px 20px 0px!important;
    h1 {
      font-size: 28px;
    }
  }
}

@media (min-width: 1100px) {
    .container{
        max-width: 1000px;
    }
}
@media (min-width: 737px) {
    .container.container-2{
        max-width: 737px;
    }
}
